# Unrelated folders
.github
.vscode
.git
**/.DS_Store
**/__MACOSX

# Unrelated folders/files at root
images
*.md
*.yml
LICENSE
.gitignore
.dockerignore
Dockerfile

# Ignored Files (Unrelated)
**/*.md
**/.gitignore
**/.env.example
**/.eslint*
**/.prettier*

# Ignored Folder (For quality of local build)
**/dist
**/out
**/node_modules
**/.turbo
**/.next
**/.env
test_docker
